/* cabeçalho */

.nav-link:hover {
    color: #6C757D!important;
}


/* rodapé */

.githubicon {
    width: 24px;
    height: 24px;
    margin-right: 20px;
    filter: invert(100%);
}

.col-md-4 span {
    color: white!important;
}

.rodape {
    position: absolute;
    bottom: 0;
    width: 100%;
}


/* divs */

.tamanho {
    height: 100%;
    background-color: #212529;
    color: white;
}

.center {
    display: flex;
    justify-content: center;
    margin: 25px;
}


/* cards */

.cardsbox {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 1025px;
}